# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# ONLY ignore data and models for Project 5
project_5_fraud_detection/data/
project_5_fraud_detection/models/
.Rproj.user
